<md-toolbar ng-if="showNavBar" ng-controller="NavBarController">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" ng-if="toolbar.icon" ng-click="toolbar.events.onIconClicked()"
      aria-label="Back">
        <md-icon>{{ toolbar.icon }}</md-icon>
    </md-button>
    <h2><span>Stoutful</span></h2>
    <!-- fill up the space between left and right area -->
    <span flex></span>
    <md-menu ng-if="user">
     <md-button ng-click="$mdOpenMenu($event)">
       {{ userName }} <md-icon>arrow_drop_down</md-icon>
     </md-button>
     <md-menu-content>
       <md-menu-item>
         <md-button ng-click="onClickMyProfile()">
           <md-icon>account_circle</md-icon> My Profile
         </md-button>
       </md-menu-item>
       <md-menu-item>
         <md-button ng-click="logout()">
           <md-icon>exit_to_app</md-icon> Logout
         </md-button>
       </md-menu-item>
     </md-menu-content>
    </md-menu>
  </div>
</md-toolbar>
