<div layout="row" layout-align="center center">
  <md-card class="brewery-details" flex="80">
    <div class="md-card-image background-image" ng-model="brewery.image_url"
      ng-background-image="{{ brewery.image_url || placeholder }}">
      <!-- No content -->
    </div>

    <md-toolbar ng-show="showAlert">
      <div class="md-toolbar-tools">
        <span>Notice a mistake?&nbsp;<a href ng-click="editBrewery()">Submit a patch!</a></span>
        <span flex></span>
        <md-button ng-click="closeAlert()"><md-icon>close</md-icon></md-button>
      </div>
    </md-toolbar>

    <md-card-content>
      <section>
        <h1>{{brewery.name}}</h1>
        <h4>{{brewery.city}}, {{brewery.state}}</h4>
      </section>

      <section>
        <h3>Description</h3>
        <span class="empty-inline" ng-if="!brewery.description">No description.</span>
        <p class="description">{{ brewery.description }}</p>
      </section>
    </md-card-content>
  </md-card>
</div>
