<div class="container brewery-details">

  <div class="row details">
    <div class="col-sm-12">

      <alert type="info" ng-show="showAlert" close="showAlert = false">Notice a mistake?
        <a href ng-click="editBrewery()">Submit a patch!</a>
      </alert>
      <div class="jumbotron">
        <img class="background" ng-model="brewery.image_url" ng-background-image="{{ brewery.image_url || placeholder }}">
        <h1>{{brewery.name}}</h1>
        <h4>{{brewery.city}}, {{brewery.state}}</h4>
      </div>

      <h3>Description</h3>
      <span class="empty-inline" ng-if="!brewery.description">No description.</span>
      <p class="description">{{ brewery.description }}</p>

    </div>
  </div>

</div>
