<md-dialog flex="50" flex-md="70" flex-sm="80" flex-xs="100">
  <md-dialog-content class="md-dialog-content edit-beer">
    <h2 class="md-title" ng-if="vm.isLoggedIn">Edit Beer</h2>

    <form name="vm.editForm" novalidate>
      <!-- Name -->
      <md-input-container class="md-block"
        ng-class="{'has-error': vm.editForm.name.$invalid}">
          <label>Name</label>
          <input type="text" name="name" value="{{ vm.beer.name }}"
            ng-model="vm.beer.name"
            ng-readonly="!vm.isLoggedIn"
            required>
      </md-input-container>

      <div layout="row">
        <!-- ABV -->
        <md-input-container ng-class="{'has-error': vm.editForm.abv.$invalid}"
          flex="50">
            <label>ABV</label>
            <input name="abv" type="number" step="0.01" value="{{ vm.beer.abv }}"
              ng-readonly="!vm.isLoggedIn"
              ng-model="vm.beer.abv"
              required>
        </md-input-container>

        <!-- IBU -->
        <md-input-container ng-class="{'has-error': vm.editForm.ibu.$invalid}"
          flex="50">
            <label>IBU</label>
            <input name="ibu" type="number" step="0.01" value="{{ vm.beer.ibu }}"
              ng-model="vm.beer.ibu"
              ng-readonly="!vm.isLoggedIn"
              required>
        </md-input-container>
      </div>

      <!-- Brewery -->
      <md-autocomplete
        md-input-name="brewery"
        md-search-text="searchText"
        md-min-length="0"
        md-selected-item="vm.selectedBrewery"
        md-selected-item-change="vm.onSelect(brewery)"
        md-items="brewery in vm.searchBrewery(searchText)"
        md-item-text="brewery.name"
        md-floating-label="Brewery"
        required>
          <span md-highlight-text="searchText">{{ brewery.name }}</span>
      </md-autocomplete>

      <!-- Description -->
      <md-input-container class="md-block"
        ng-class="{'has-error': vm.editForm.description.$invalid}">
          <label>Description</label>
          <textarea name="description" ng-model="vm.beer.description"
            ng-readonly="!vm.isLoggedIn"
            required>
              {{ vm.beer.description }}
          </textarea>
      </md-input-container>

      <!-- Image -->
      <div id="image" class="md-block">
        <img-crop image="vm.image | ngfDataUrl" area-type="rectangle"
          aspect-ratio="2.2" result-image="vm.croppedImage"
          result-image-size="{w: 1024, h: 465}"></img-crop>
        <md-button class="md-raised md-primary" ng-model="vm.image"
          ngf-select accept="image/*">
          {{ image ? "Replace Image" : "Attach Image" }}
        </md-button>
      </div>
    </form>
  </md-dialog-content>

  <md-dialog-actions>
    <md-button type="button" class="btn btn-default" ng-click="vm.close()">Close</md-button>
    <md-button ng-click="vm.save()"
      ng-class="{'disabled': vm.editForm.$invalid}"
      ng-if="vm.isLoggedIn">
        Save changes
    </md-button>
  </md-dialog-actions>
</md-dialog>
