<md-dialog flex="90">
  <md-dialog-content class="md-dialog-content">
    <h2 class="md-title" ng-if="isLoggedIn">Edit Beer</h2>

    <form name="editForm" novalidate>
      <!-- Name -->
      <md-input-container class="md-block"
        ng-class="{'has-error': editForm.name.$invalid}">
          <label>Name</label>
          <input type="text" name="name" value="{{ beer.name }}"
            ng-model="beer.name"
            ng-readonly="!isLoggedIn"
            required>
      </md-input-container>

      <div layout="row">
        <!-- ABV -->
        <md-input-container ng-class="{'has-error': editForm.abv.$invalid}"
          flex="50">
            <label>ABV</label>
            <input name="abv" type="number" step="0.01" value="{{ beer.abv }}"
              ng-readonly="!isLoggedIn"
              ng-model="beer.abv"
              required>
        </md-input-container>

        <!-- IBU -->
        <md-input-container ng-class="{'has-error': editForm.ibu.$invalid}"
          flex="50">
            <label>IBU</label>
            <input name="ibu" type="number" step="0.01" value="{{ beer.ibu }}"
              ng-model="beer.ibu"
              ng-readonly="!isLoggedIn"
              required>
        </md-input-container>
      </div>

      <!-- Brewery -->
      <md-autocomplete
        md-input-name="brewery"
        md-search-text="searchText"
        md-min-length="0"
        md-selected-item="selectedBrewery"
        md-selected-item-change="onSelect(brewery)"
        md-items="brewery in searchBrewery(searchText)"
        md-item-text="brewery.name"
        md-floating-label="Brewery"
        required>
          <span md-highlight-text="searchText">{{ brewery.name }}</span>
      </md-autocomplete>

      <!-- Description -->
      <md-input-container class="md-block"
        ng-class="{'has-error': editForm.description.$invalid}">
          <label>Description</label>
          <textarea name="description" ng-model="beer.description"
            ng-readonly="!isLoggedIn"
            required>
              {{ beer.description }}
          </textarea>
      </md-input-container>

      <!-- Image -->
      <div id="image" class="md-block">
        <input class="ng-hide"
          type="file"
          ngf-select ng-model="image"
          ng-disabled="!isLoggedIn">
        <img ngf-src="image" ng-show="image">
        <md-button class="md-raised md-primary" ng-click="attachImage()">
          {{ image ? "Replace Image" : "Attach Image" }}
        </md-button>
      </div>
    </form>
  </md-dialog-content>

  <md-dialog-actions>
    <md-button type="button" class="btn btn-default" ng-click="close()">Close</md-button>
    <md-button ng-click="save()"
      ng-class="{'disabled': editForm.$invalid}"
      ng-if="isLoggedIn">
        Save changes
    </md-button>
  </md-dialog-actions>
</md-dialog>
