<md-dialog flex="50" flex-md="70" flex-sm="80" flex-xs="100">
  <md-dialog-content class="md-dialog-content edit-brewery">
    <h2 class="md-title" ng-if="vm.isLoggedIn">Edit Brewery</h2>
    <form name="vm.editForm" novalidate>
      <!-- Name -->
      <md-input-container class="md-block"
        ng-class="{'has-error': vm.editForm.name.$invalid}">
          <label>Name</label>
          <input type="text" name="name" value="{{ vm.brewery.name }}"
            ng-model="vm.brewery.name"
            ng-readonly="!vm.isLoggedIn"
            required>
      </md-input-container>

      <!-- Address 1 -->
      <md-input-container class="md-block"
        ng-class="{'has-error': vm.editForm.address1.$invalid}">
          <label>Address 1</label>
          <input name="address1" type="text" ng-model="vm.brewery.address1"
            ng-readonly="!vm.isLoggedIn"
            required>
      </md-input-container>

      <!-- Address 2 -->
      <md-input-container class="md-block"
        ng-class="{'has-error': vm.editForm.address2.$invalid}">
          <label>Address 2</label>
          <input name="address2" type="text" ng-model="vm.brewery.address2"
            ng-readonly="!vm.isLoggedIn">
      </md-input-container>

      <div layout="row">
        <!-- City -->
        <md-input-container flex="50"
          ng-class="{'has-error': vm.editForm.city.$invalid}">
            <label>City</label>
            <input name="city" type="text" value="{{ vm.brewery.city }}"
              ng-model="vm.brewery.city"
              ng-readonly="!vm.isLoggedIn"
              required>
        </md-input-container>

        <!-- State -->
        <md-input-container flex="50"
          ng-class="{'has-error': vm.editForm.state.$invalid}">
            <label>State</label>
            <input name="ibu" type="text" value="{{ vm.brewery.state }}"
              ng-model="vm.brewery.state"
              ng-readonly="!vm.isLoggedIn"
              required>
        </md-input-container>
      </div>

      <!-- Phone -->
      <md-input-container class="md-block"
        ng-class="{'has-error': vm.editForm.phone.$invalid}">
        <label>Phone</label>
        <input name="phone" type="tel" value="{{ vm.brewery.phone }}"
          ng-model="vm.brewery.phone"
          ng-readonly="!vm.isLoggedIn"
          required>
      </md-input-container>

      <!-- Website -->
      <md-input-container class="md-block"
        ng-class="{'has-error': vm.editForm.website.$invalid}">
          <label>Website</label>
          <input name="website" type="text" value="{{ vm.brewery.website }}"
            ng-readonly="!vm.isLoggedIn"
            ng-model="vm.brewery.website">
      </md-input-container>

      <!-- Description -->
      <md-input-container class="md-block"
        ng-class="{'has-error': vm.editForm.description.$invalid}">
          <label>Description</label>
          <textarea name="description" ng-model="vm.brewery.description"
            ng-readonly="!vm.isLoggedIn"
            required>
              {{ vm.brewery.description }}
          </textarea>
      </md-input-container>

      <!-- Image -->
      <div id="image" class="md-block">
        <feat-img-crop image="vm.image | ngfDataUrl"
          result-image="vm.croppedImage"></feat-img-crop>
        <md-button class="md-raised md-primary" ng-model="vm.image"
          ngf-select accept="image/*">
          {{ vm.image ? "Replace Image" : "Attach Image" }}
        </md-button>
      </div>
    </form>
  </md-dialog-content>

  <md-dialog-actions>
    <md-button type="button" class="btn btn-default" ng-click="vm.close()">Close</md-button>
    <md-button ladda-button="vm.loading" data-style="expand-right" type="button"
      class="btn btn-primary ladda-button" ng-click="vm.save()"
      ng-class="{'disabled': vm.editForm.$invalid}" ng-if="vm.isLoggedIn">
        Save changes
    </md-button>
  </md-dialog-actions>
</md-dialog>
