<div layout="row" layout-align="center start" flex>
  <div layout="column" flex="80">
    <!-- Search -->
    <div class="search" flex>
      <h1>Search</h1>
      <form>
        <md-autocomplete md-search-text="searchText"
          md-min-length="3"
          md-selected-item-change="onSelect(model)"
          md-items="model in performSearch(searchText)"
          md-item-text="model.name"
          placeholder="Search beer or brewery">
          <span md-highlight-text="searchText">{{model.name}}</span>
        </md-autocomplete>
      </form>
    </div>

    <!-- Most Popular -->
    <div class="popular" layout="column">
      <h1>Most Popular</h1>
      <div layout="row" layout-wrap flex>
        <md-card flex="100" flex-gt-xs="30" ng-repeat="beer in popular"
          ng-click="showBeerDetails(beer)">
            <div class="md-card-image background-image"
              ng-background-image="{{ beer.image_url || 'images/placeholder.jpg' }}">
              <!-- No content -->
            </div>
            <md-card-content>
              <p>{{ beer.name }}</p>
            </md-card-content>
        </md-card>
      </div>
    </div>

    <!-- Top 10 Suggestions -->
    <div class="suggestion" layout="column">
      <h1>Top 10 Suggestions</h1>
      <div layout="row" layout-wrap flex>
        <md-card flex="100" flex-gt-xs="30" ng-repeat="beer in suggestions"
          ng-click="showBeerDetails(beer)">
            <div class="md-card-image background-image"
              ng-background-image="{{ beer.image_url || 'images/placeholder.jpg' }}">
            </div>
            <md-card-content>
              <p>{{ beer.name }}</p>
            </md-card-content>
        </md-card>
      </div>
    </div>
  </div>
</div>
