<div layout="row" layout-align="center center">
  <div layout="column" flex="80">
    <!-- Search -->
    <div class="search" flex>
      <h1>Search</h1>
      <form>
        <input type="text" class="form-control" placeholder="Search beer or brewery"
          ng-model="model"
          typeahead="model.name for model in performSearch($viewValue)"
          typeahead-on-select="onSelect($item, $model, $label)"
          typeahead-select-on-exact="true"
          typeahead-editable="false"
          required>
      </form>
    </div>

    <!-- Most Popular -->
    <div class="popular" layout="column">
      <h1>Most Popular</h1>
      <div layout="row" layout-wrap flex>
        <div class="button" flex="50" flex-gt-sm="30" ng-repeat="beer in popular">
          <md-card>
            <div class="md-card-image background-image"
              ng-background-image="{{ beer.image_url || 'images/placeholder.jpg' }}"
              ng-click="showBeerDetails(beer)"><!-- No content --></div>
            <md-card-content>
              <h4>{{ beer.name }}</h4>
            </md-card-content>
          </md-card>
        </div>
      </div>
    </div>
  </div>
</div>
