<md-card class="login">
  <md-loading-container ng-model="vm.loading">
    <md-progress-circular md-mode="indeterminate"
      md-diameter="100px"></md-progress-circular>

    <md-toolbar>
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Back"
          ng-click="dismiss()">
            <md-icon>arrow_back</md-icon>
        </md-button>
        <h2>
          <span>Login</span>
        </h2>
      </div>
    </md-toolbar>

    <!-- Error -->
    <md-toolbar-alert ng-if="vm.error" alert="error"
      md-toolbar-alert-dismiss="dismissToolbarAlert()">
        {{ vm.error.msg }}
    </md-toolbar-alert>

    <!-- Card content -->
    <md-card-content>
      <form name="formHolder.loginForm" novalidate>
        <md-input-container class="md-block"
          ng-class="{'has-error': formHolder.loginForm.email.$invalid}">
            <label>Email</label>
            <input name="email" type="email"
              ng-model="formHolder.email"
              ng-pattern="/^.+@.+\..+$/"
              required>
            <div ng-messages="formHolder.loginForm.email.$error" multiple>
              <div ng-message="required">Email is required.</div>
              <div ng-message="pattern">Email is invalid.</div>
            </div>
        </md-input-container>

        <md-input-container class="md-block"
          ng-class="{'has-error': formHolder.loginForm.password.$invalid}">
            <label>Password</label>
            <input name="password" type="password"
              ng-model="formHolder.password"
              required>
            <div ng-messages="formHolder.loginForm.password.$error">
              <div ng-message="required">Password is required.</div>
            </div>
        </md-input-container>
      </form>
    </md-card-content>

    <!-- Card footer -->
    <md-card-footer layout="row" layout-align="end center">
      <button class="btn-google btn-google-login"
        ng-disabled="vm.loading"
        ng-click="vm.logInWithGoogle()">
      </button>
      <span flex></span>
      <md-button
        ng-disabled="formHolder.loginForm.$invalid"
        ng-click="onLoginClicked()">
          Log In
      </md-button>
    </md-card-footer>

  </md-loading-container>
</md-card>
