<md-card class="login">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="Back"
        ng-click="dismissLogin()">
          <md-icon>arrow_back</md-icon>
      </md-button>
      <h2>
        <span>Login</span>
      </h2>
    </div>
  </md-toolbar>

  <!-- Error -->
  <md-toolbar class="alert-error" ng-if="error">
    <div class="md-toolbar-tools">
      <span>{{error.msg}}</span>
      <!-- fill up the space between left and right area -->
      <span flex></span>
      <md-button ng-click="dismissAlert()">
        <md-icon>close</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-card-content>
    <form name="loginForm" novalidate>
      <md-input-container class="md-block"
        ng-class="{'has-error': loginForm.email.$invalid}">
          <label>Email</label>
          <input name="email" type="email" ng-model="email" required>
      </md-input-container>

      <md-input-container class="md-block"
        ng-class="{'has-error': loginForm.password.$invalid}">
          <label>Password</label>
          <input name="password" type="password" ng-model="password" required>
      </div>
    </form>
  </md-card-content>
  <md-card-footer layout="row" layout-align="end center">
    <button class="ladda-button btn-google btn-google-login"
      data-style="zoom-in"
      ladda-button="loading"
      ng-disabled="loading"
      ng-click="vm.logInWithGoogle()">
    </button>
    <span flex></span>
    <md-button class="ladda-button btn-login"
      data-style="expand-right"
      ladda-button="loading"
      ng-disabled="!loginForm.$valid"
      ng-click="logIn()">
        <span class="ladda-label">Log In</span>
    </md-button>
  </md-card-footer>
</md-card>
