<div layout="row" layout-align="center start" flex>
  <div layout="column" flex="80">
    <empty title="vm.emptyTitle" message="vm.emptyMessage"
      ng-if="(!vm.patches || vm.patches.length == 0) && !vm.loading"></empty>

    <md-list>
      <md-list-item class="md-2-line" ng-repeat="patch in vm.patches" ng-click="vm.onPatchClicked(patch)">
        <div class="md-list-item-text">
          <h3>Patch #{{patch.id}}</h3>
          <p>Submitted by {{patch.editor.first_name}} on {{vm.formattedTimestamp(patch.editor.created_at)}}</p>
        </div>
      </md-list-item>
    </md-list>

  </div>
</div>
