<div class="patch-details container">
  <!-- Title -->
  <div class="row title" ng-if="original && model">
    <h1>Patch for {{original.name}}</h1>
    <h4>Submitted by {{model.editor.first_name}}</h4>
  </div>

  <!-- Diff -->
  <div class="row">
    <div class="col col-sm-5">
      <h2>Original</h2>
      <form class="form-horizontal">
        <formly-form model="original" fields="form.fields.original" options="form.options"></formly-form>
      </form>
    </div>
    <div class="col col-sm-5 col-sm-offset-2">
      <h2>New</h2>
      <form class="form-horizontal">
        <formly-form model="patched" fields="form.fields.patch" options="form.options"></formly-form>
      </form>
    </div>
  </div>
</div>
