<div layout="row" flex>
  <!-- Sidenav -->
  <md-sidenav class="md-sidenav-left"
    md-is-open="true"
    md-is-locked-open="$mdMedia('gt-md')"
    md-component-id="left"
    md-whiteframe="4"
    layout-padding>
      <div layout="column" layout-align="center center">
        <img ng-src="{{user.image_url}}?sz=150" class="img-circle">
        <h2>{{user.first_name}} {{user.last_name}}</h2>
      </div>
  </md-sidenav>

  <!-- Content -->
  <md-content layout-padding>
    <h3>Activity</h3>
    <span class="empty" ng-show="!activities || activities.length == 0">No activity for this user :(</span>
    <ul class="activities" ng-show="activities && activities.length > 0">
      <li class="item" ng-repeat="activity in activities">
        {{actionVerbForActivityType(activity.type)}} <a ng-href="#/beer/{{activity.beer.id}}">{{activity.beer.name}}</a>
          by <a ng-href="#/brewery/{{activity.beer.brewery.id}}">{{activity.beer.brewery.name}}</a>.
      </li>
    </ul>
  </md-content>
</div>
