<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <img ng-src="{{user.image_url}}" class="img-circle img-responsive center-block">
      <div class="text-center">
        <h4>{{user.first_name}} {{user.last_name}}</h4>
      </div>
    </div>

    <div class="col-sm-8">
      <h3>Activity</h3>
      <span class="empty" ng-show="!activities || activities.length == 0">No activity for this user :(</span>
      <ul class="activities" ng-show="activities && activities.length > 0">
        <li class="item" ng-repeat="activity in activities">
          {{actionVerbForActivityType(activity.type)}}
        </li>
      </ul>
    </div>
  </div>
</div>
