<div layout="row" flex>
  <!-- Sidenav -->
  <md-sidenav class="md-sidenav-left"
    md-is-locked-open="sideNavShouldLockOpen"
    md-component-id="left"
    md-whiteframe="4"
    layout-padding>
      <div layout="column">
        <div layout="column" layout-align="center center">
          <img ng-src="{{user.image_url}}?sz=150" class="img-circle">
          <h2>{{user.first_name}} {{user.last_name}}</h2>
        </div>

        <!-- Stats -->
        <div class="stats" layout="row" layout-align="center center">
          <div layout="column" layout-align="center center" flex="30">
            <span class="counter">{{ stats.likes }}</span>
            <span class="label">Likes</span>
          </div>
          <div layout="column" layout-align="center center" flex="30">
            <span class="counter">{{ stats.check_ins }}</span>
            <span class="label">Check-Ins</span>
          </div>
        </div>

      </div>
  </md-sidenav>

  <!-- Content -->
  <md-content layout-padding flex>
    <h3>Recent Activity</h3>
    <span class="empty" ng-show="!activities || activities.length == 0">No activity for this user :(</span>
    <md-list class="activities" ng-show="activities && activities.length > 0">
      <md-list-item ng-repeat="activity in activities">
        <i class="stoutful-thumbs_up md-avatar" ng-if="activity.type === 'like'"></i>
        <i class="stoutful-beer md-avatar" ng-if="activity.type === 'check_in'"></i>
        <div class="md-list-item-text">
          {{actionVerbForActivityType(activity.type)}}&nbsp;<a ng-href="#/beer/{{activity.beer.id}}">{{activity.beer.name}}</a>
        </div>
      </md-list-item>
    </md-list>
  </md-content>
</div>
