<md-card class="register">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="Back"
        ng-click="dismiss()">
          <md-icon>arrow_back</md-icon>
      </md-button>
      <h2>
        <span>Sign Up</span>
      </h2>
    </div>
  </md-toolbar>

  <md-card-content>
    <form name="registerForm" novalidate>

      <!-- Error -->
      <alert ng-if="error" type="{{error.type}}">{{error.msg}}</alert>

      <md-input-container class="md-block"
        ng-class="{'has-error': registerForm.firstName.$invalid}">
          <label>First Name</label>
          <input name="firstName" type="text" placeholder="First Name"
            ng-model="firstName" required>
      </md-input-container>

      <md-input-container class="md-block"
        ng-class="{'has-error': registerForm.lastName.$invalid}">
          <label>Last Name</label>
          <input name="lastName" type="text" placeholder="Last Name"
            ng-model="lastName" required>
      </md-input-container>

      <md-input-container class="md-block"
        ng-class="{'has-error': registerForm.email.$invalid}">
          <label>Email</label>
          <input name="email" type="email" placeholder="Email"
            ng-model="email" required>
      </md-input-container>

      <md-input-container class="md-block"
        ng-class="{'has-error': registerForm.password.$invalid}">
          <label>Password</label>
          <input name="password" type="password" placeholder="Password"
            ng-model="password" required>
      </md-input-container>
    </form>

  </md-card-content>
  <md-card-footer layout="row" layout-align="end center">
    <button class="ladda-button btn-google btn-google-login"
      data-style="zoom-in"
      ladda-button="loading"
      ng-disabled="loading"
      ng-click="vm.logInWithGoogle()">
    </button>
    <span flex></span>
    <md-button class="ladda-button btn-login"
      data-style="expand-right"
      ladda-button="loading"
      ng-disabled="!loginForm.$valid"
      ng-click="register()">
        <span class="ladda-label">Sign Up</span>
    </md-button>
  </md-card-footer>
</md-card>
