<md-card class="register">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="Back"
        ng-click="dismiss()">
          <md-icon>arrow_back</md-icon>
      </md-button>
      <h2>
        <span>Sign Up</span>
      </h2>
    </div>
  </md-toolbar>

  <!-- Error -->
  <md-toolbar class="alert-error" ng-if="vm.error">
    <div class="md-toolbar-tools">
      <span>{{vm.error.msg}}</span>
      <!-- fill up the space between left and right area -->
      <span flex></span>
      <md-button ng-click="dismissAlert()">
        <md-icon>close</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-loading-container ng-model="vm.loading">
    <md-progress-circular md-mode="indeterminate"
      md-diameter="100px"></md-progress-circular>

    <!-- Card content -->
    <md-card-content>
      <form name="formHolder.registerForm" novalidate>
        <md-input-container class="md-block"
          ng-class="{'has-error': formHolder.registerForm.firstName.$invalid}">
            <label>First Name</label>
            <input name="firstName" type="text" placeholder="First Name"
              ng-model="formHolder.firstName" required>
        </md-input-container>

        <md-input-container class="md-block"
          ng-class="{'has-error': formHolder.registerForm.lastName.$invalid}">
            <label>Last Name</label>
            <input name="lastName" type="text" placeholder="Last Name"
              ng-model="formHolder.lastName" required>
        </md-input-container>

        <md-input-container class="md-block"
          ng-class="{'has-error': formHolder.registerForm.email.$invalid}">
            <label>Email</label>
            <input name="email" type="email" placeholder="Email"
              ng-model="formHolder.email" required>
        </md-input-container>

        <md-input-container class="md-block"
          ng-class="{'has-error': formHolder.registerForm.password.$invalid}">
            <label>Password</label>
            <input name="password" type="password" placeholder="Password"
              ng-model="formHolder.password" required>
        </md-input-container>
      </form>
    </md-card-content>

    <!-- Card footer -->
    <md-card-footer layout="row" layout-align="end center">
      <button class="btn-google btn-google-login"
        ng-disabled="vm.loading"
        ng-click="vm.logInWithGoogle()">
      </button>
      <span flex></span>
      <md-button
        ng-disabled="formHolder.registerForm.$invalid"
        ng-click="onRegisterClicked()">
          Sign Up
      </md-button>
    </md-card-footer>
  </md-loading-container>
</md-card>
