<div class="home container-fluid">
  <div class="container">
    <!-- Search -->
    <div class="row search-bar">
      <h1>Search</h1>
      <form>
        <input type="text" class="form-control" placeholder="Search beer or brewery"
          ng-model="model"
          typeahead="model.name for model in performSearch($viewValue)"
          typeahead-on-select="onSelect($item, $model, $label)"
          typeahead-select-on-exact="true"
          typeahead-editable="false"
          required>
      </form>
    </div>

    <!-- Most Popular -->
    <div class="row popular">
      <h1>Most Popular</h1>
      <div class="items" ng-if="popular">
        <div class="item col-sm-3" ng-repeat="beer in popular">
          <img class="item-background" ng-model="beer.image_url" ng-background-image="{{ beer.image_url }}">
          <span class="item-label">{{ beer.name }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
