<!-- search -->
<div class="container-fluid">
  <div class="search container">
    <!-- search bar -->
    <div class="row search-bar">
      <form>
        <input type="text" class="form-control" placeholder="Search beer or brewery"
          ng-model="model"
          typeahead="model.name for model in performSearch($viewValue)"
          typeahead-on-select="onSelect($item, $model, $label)"
          typeahead-select-on-exact="true"
          typeahead-editable="false"
          required>
      </form>
    </div>
  </div>
</div>
