<div class="container-fluid">

  <!-- search -->
  <div class="search container" ng-controller="SearchController">
    <!-- search bar -->
    <div class="row search-bar">
      <form>
        <input type="text" class="form-control" placeholder="Search"
          ng-model="searchQuery.query" ng-keyup="performSearch($event)">
      </form>
    </div>

    <!-- results -->
    <div class="row search-result" ng-repeat="beer in beers" ng-click="open(beer)">
      <div class="col-sm-2"><img class="img-circle" ng-background-image="{{ beer.image_url || 'http://placehold.it/100x100' }}"/></div>
      <div class="col-sm-10">
        <h4>{{ beer.name }}</h5>
        <p>{{ beer.description || 'No description.' }}</p>
      </div>
    </div>
  </div>

</div>
