<div class="splash-container" layout="row" layout-align="center center" flex>
  <div ng-if="!vm.showLogin && !vm.showRegister" layout="column" layout-align="center center">
    <h1>Stoutful</h1>
    <h3>Discover your beer</h3>
    <div layout="row">
      <md-button ng-click="vm.showLoginPartial()">Login</md-button>
      <md-button ng-click="vm.showRegisterPartial()">Sign up</md-button>
    </div>
  </div>

  <ng-include ng-if="vm.showLogin" ng-controller="LoginController"
    src="vm.loginPartial" layout="column" flex="50"></ng-include>

  <ng-include ng-if="vm.showRegister" ng-controller="RegisterController"
    src="vm.registerPartial" layout="column" flex="50"></ng-include>
</div>
