.beer-details {
  .row {
    margin-bottom: 20px;
  }

  .jumbotron {
    overflow: auto;
    margin-bottom: 15px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    h1 {
      margin-top: 5px;
    }

    .icon {
      width: 120px;
      height: 120px;
      float: left;
      margin-right: 10px;
    }

    .abv {
      margin-right: 4px;
    }
  }

  .details {
    .correction {
      float: right;
    }
  }

  .activities {
    .item {
      font-style: italic;
    }
  }
}
