.login {
  button {
    width: 193px;
    height: 48px;
    padding: 0;
    outline: none;
    border: 0;
    background: none;
    background-image: url('../images/btn_google_signin_dark_normal_web.png');
    background-repeat: no-repeat;

    &:active {
      background-image: url('../images/btn_google_signin_dark_pressed_web.png');
    }

    &[disabled] {
      background-image: url('../images/btn_google_signin_dark_disabled_web.png');
    }
  }

  .ladda-button {
    &:hover {
      border: 0;
      background-color: transparent;
    }
  }
}
