.splash-container {
  background-image: url('/images/splash.jpg');
  background-size: cover;

  color: #FFF;

  h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 6em;
    margin: 0;
  }

  h3 {
    font-weight: normal;
    margin-top: 0;
  }

  #google-signin {
    margin-top: 6px;
  }

  @media (max-width: 599px) {
    h1 {
      font-size: 5em;
    }
  }

  @media (max-width: 320px) {
    h1 {
      font-size: 4.5em;
    }
  }
}
