@import 'card';
@import 'login';
@import 'beer-details';
@import 'patches';

h1, h2, h3 {
  margin-top: 0;
}

.search {
  .search-bar {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .search-result {
    @include card(1);
    padding: 10px;
    margin-bottom: 15px;
    cursor: pointer;

    img {
      width: 100px;
      height: 100px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

.navbar .container-fluid > * {
  float: right;
}

.beer-details, .brewery-details {
  form {
    textarea {
      height: 150px;
    }
  }

  #image {
    input {
      margin-bottom: 10px;
    }

    img {
      max-width: 100%;
    }
  }
}
